<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/8b12321ea8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles/createUser.css">

    <script defer src="/createUser.js"></script>
    
    <title>Create Account</title>
</head>
<body>
    <div class="login-box text-warning">
        <h1 text-warning>Create Profile</h1>
        <form id="new-form">
        <div class="textbox text-warning">
            <i class="fas fa-user"></i>
            <input class="input-lg text-warning" type="string"  placeholder="Name" name="" value="">
        </div>

        <div class="textbox border-bottom-warning">
            <i class="fas fa-at"></i>
            <input class="input-lg text-warning"  type="email" placeholder="email" name="" value="">
        </div>

        <div class="textbox border-bottom-warning">
            <i class="fas fa-location-arrow"></i>
            <input class="input-lg text-warning"  type="location" placeholder="Location" name="" value="">
        </div>

        <div class="textbox border-bottom-warning">
            <i class="fab fa-github"></i>
            <input class="input-lg text-warning"  type="github" placeholder="Github Username" name="" value="">
        </div>

        <div class="textbox border-bottom-warning">
            <i class="fas fa-briefcase"></i>
            <input class="input-lg text-warning"  type="work" placeholder="Work" name="" value="">
        </div>

        <div class="textbox border-bottom-warning">
            <i class="fas fa-keyboard"></i>
            <input class="input-lg text-warning"  type="Languages" placeholder="#javascript, #react" name="" value="">
        </div>

        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Create</button>
        </form>

    </div>

</body>
</html>