<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- form stuff -->
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="styles/main.css">
    

    <!-- Cities Index JS -->
    <script defer src="scripts/mainPage.js"></script>
    <script defer src="scripts/createPost.js"></script>
    <title>DecStack</title>
</head>
<header>
    
  <nav class="navbar navbar-expand-md pt-3 pb-3 border-bottom bg-dark">
        
    <a class="navbar-brand text-warning" href="/">{ ' DevStack ' }</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li>
          <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </li>
        <li>
          <a href="/newpost"><button class="btn btn-outline-warning my-2 my-sm-0 mr-2">Create Post</button></a>
        </li>
        <li>
          <button class="btn btn-outline-warning my-2 my-sm-0 mr-2 p-2" type="submit"><i class="fas fa-search"></i></button>
        </li>
        <li>
          <button class="btn btn-outline-warning my-2 my-sm-0 p-2" type="submit"><i class="fas fa-user"></i></button>
        </li>
      </ul>
    </div>
 
</nav>
</header>

<body class="bg-secondary">

  <div class="container bg-secondary border-left border-right border-warning pt-3">
    <div class="card border border-warning shadow-lg p-1 mb-3 bg-dark rounded">
      <h1 class="card-body display-3 text-center text-warning">
        JavaScript.
      </h1>
    </div>


        <ul class="nav justify-content-center pb-md-1 mt-sm-1">
          <li class="nav-item ">
            <a class="nav-link active text-warning" href="#">Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-warning" href="#">Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-warning" href="#">Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-warning" href="#" tabindex="-1" aria-disabled="true">Top</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

      <div class="container bg-secondary border-left border-right border-warning shadow-lg">
          <div class="row">
              <div class="col-md-3 pb-md-3 mt-sm-3 "> 
                  <div class="card" style=" width: 16rem;">
                      <div class="card-body border border-warning shadow rounded bg-dark">
                      <h5 class="card-title text-warning">For Loops</h5>
                      <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                      <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                      <a href="#" class="card-link">save</a>
                      <button type="button" class="btn btn-outline-warning float-right">save</button>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 pb-md-3 mt-sm-3 "> 
                <div class="card" style=" width: 16rem;">
                    <div class="card-body border border-warning shadow rounded bg-dark">
                    <h5 class="card-title text-warning">For Loops</h5>
                    <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                    <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                    <a href="#" class="card-link">save</a>
                    <button type="button" class="btn btn-outline-warning float-right">save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pb-md-3 mt-sm-3 "> 
              <div class="card" style=" width: 16rem;">
                  <div class="card-body border border-warning shadow rounded bg-dark">
                  <h5 class="card-title text-warning">For Loops</h5>
                  <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                  <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                  <a href="#" class="card-link">save</a>
                  <button type="button" class="btn btn-outline-warning float-right">save</button>
                  </div>
              </div>
          </div>

          <div class="col-md-3 pb-md-3 mt-sm-3 "> 
            <div class="card" style=" width: 16rem;">
                <div class="card-body border border-warning shadow rounded bg-dark">
                <h5 class="card-title text-warning">For Loops</h5>
                <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                <a href="#" class="card-link">save</a>
                <button type="button" class="btn btn-outline-warning float-right">save</button>
                </div>
            </div>
        </div>


          </div>
        </div>

        <div class="container bg-secondary border-left border-right border-warning">
          <div class="row">
              <div class="col-md-3 pb-md-3 mt-sm-3 "> 
                  <div class="card" style=" width: 16rem;">
                      <div class="card-body border border-warning shadow rounded bg-dark">
                      <h5 class="card-title text-warning">For Loops</h5>
                      <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                      <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                      <a href="#" class="card-link">save</a>
                      <button type="button" class="btn btn-outline-warning float-right">save</button>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 pb-md-3 mt-sm-3 "> 
                <div class="card" style=" width: 16rem;">
                    <div class="card-body border border-warning shadow rounded bg-dark">
                    <h5 class="card-title text-warning">For Loops</h5>
                    <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                    <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                    <a href="#" class="card-link">save</a>
                    <button type="button" class="btn btn-outline-warning float-right">save</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 pb-md-3 mt-sm-3 "> 
              <div class="card" style=" width: 16rem;">
                  <div class="card-body border border-warning shadow rounded bg-dark">
                  <h5 class="card-title text-warning">For Loops</h5>
                  <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                  <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                  <a href="#" class="card-link">save</a>
                  <button type="button" class="btn btn-outline-warning float-right">save</button>
                  </div>
              </div>
          </div>

          <div class="col-md-3 pb-md-3 mt-sm-3 "> 
            <div class="card" style=" width: 16rem;">
                <div class="card-body border border-warning shadow rounded bg-dark">
                <h5 class="card-title text-warning">For Loops</h5>
                <h6 class="card-subtitle mb-4 text-light">Sonia</h6>
                <p class="card-text text-warning">examples to do a afasfasfasdfsdaf saf .</p>
                <a href="#" class="card-link">save</a>
                <button type="button" class="btn btn-outline-warning float-right">save</button>
                </div>
            </div>
          </div>


          </div>
        </div>
          <div id="newPost">

          </div>
            <!-- <section id="posts">
              <form>
                <label for="fname">Title:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Description:</label><br>
                <input type="text" id="lastName" name="lname">
                <label for="name">name:</label><br>
                <input type="text" id="name" name="lname">
                <button id="postBtn" type="submit" class="btn btn-outline-warning">submit</button>
              </form>
            </section> -->
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      <div class="modal-header">
                          <h1>Create Post</h1>
                        </div>
                        <div class="modal-body">
                        <section id="posts">
                          <!-- <form>
                            <label for="fname">Post Title:</label><br>
                            <input type="text" id="posting" name="fname"><br>

                            <label for="lname">Description:</label><br>
                            <input type="text" id="description" name="lname"><br>

                            <label for="name">Languages:</label><br>
                            <input type="text" id="name" name="lname"><br>

                            <label for="name">Code:</label><br>
                            <input type="text" id="code" name="lname"><br>

                          </form> -->

                          <form action="">
                            <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 offset-3">
     <div class="formden_header">
      <h2>Create note</h2>
      <p> </p>
     </div>
     <form method="post">
      <div class="form-group ">
       <label class="control-label requiredField" for="name">
        Post title
        <span class="asteriskField">
         *
        </span>
       </label>
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-comment-o">
         </i>
        </div>
        <input class="form-control" id="posting" name="name" placeholder="PostTitle " type="text"/>
       </div>
      </div>
      <div class="form-group ">
       <label class="control-label requiredField" for="description">
        Description
        <span class="asteriskField">
         *
        </span>
       </label>
       <textarea class="form-control" cols="40" id="description" name="description" placeholder="What does the code do" rows="10"></textarea>
      </div>
      <div class="form-group ">
       <label class="control-label " for="language">
        Language
       </label>
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-map-signs">
         </i>
        </div>
        <input class="form-control" id="language" name="language" placeholder="#javascript, #React" type="text"/>
       </div>
      </div>
      <div class="form-group ">
       <label class="control-label requiredField" for="codearea">
        Code
        <span class="asteriskField">
         *
        </span>
       </label>
       <textarea class="form-control text-warning" cols="40" id="codearea" name="codearea" rows="10"></textarea>
      </div>
      <div class="form-group">
       <div>
        <button id="createPostBtn" class="btn btn-warning btn-lg btn-block" name="submit" type="submit">
         Create post
        </button>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
                          </form>
                        </section>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-warning" data-dismiss="modal"value="close">
                            <input id="newBtn" class="btn btn-warning" data-dismiss="modal"value="Submit">
                        </div>
                      </div>
                  </div>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#myModal">Open Modal</a>
                </div>
              </div>
            </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>



<!-- <section class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="https://picsum.photos/id/237/200/300" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://picsum.photos/id/237/200/300" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://picsum.photos/id/237/200/300" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</section> -->