<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../public/scripts/post.js"></script>
    <!-- fonts----- -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8b12321ea8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- -------CSS---------->
    <link rel="stylesheet" href="/styles/post.css">
    
	<title>Post</title>
	
<body style="background-image: url('/images/login-background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">					<main class="container border border-warning mt-3"> <!--This is main container-->
	
	<div class="container-fluid mt-3 ">
		<div class="row">
			<div class="col-md-12">
				<div class="row">


					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="card bg-dark text-warning border border-warning">
											<div class="card-body">
												<h3>
													Kesha
												</h3>
												<ul>
													<li class="list-item">
														languages: #react, #Javascript
													</li>
													<li class="list-item">
														location: San Francisco
													</li>
													<li class="list-item">
														Github: ngriffin23
													</li>
													<li class="list-item">
														work: General Assembly
													</li>
												</ul>

												<button type="button" class="btn btn-warning j">
													Follow +
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-8 text-warning">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">
										<!--empty column-->
									</div>
									<div class="col-md-6">
										<button type="button" class="btn btn-warning">
											edit
										</button>
										<button type="button" class="btn btn-warning btn-md">
											Delete
										</button>
									</div>
								</div>
								<h3 class="text-left">
									While loop for even numbers
								</h3>
								<h6 class="text-left">
									by Kesha Griffin
								</h6>
								<dl>
									<dt>
										Description lists
									</dt>
									<dd>
										Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe consequatur ad omnis amet porro! Eius corrupti totam amet est dolores ducimus sit cupiditate quis doloribus asperiores, expedita soluta ut illo neque ratione consequatur libero maxime, ab magnam voluptates? Voluptatum, distinctio dolorem? Placeat non hic earum architecto ipsum praesentium, iusto laudantium?
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>

				<div class="row text-warning">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<h3>
									Code
								</h3>
								<blockquote class="blockquote">
										<textarea class="text-warning border border-warning" name="" id="codearea" cols="30" rows="10" placeholder=""></textarea>
								</blockquote> 
							</div>
						</div>
					</div>
				</div>

				<div class="row text-warning">
					<div class="col-md-12">
						<h3>
							add a comments.
						</h3>
						<dl>
							<dt>
								<div id="commentBox" class="container ">
									<div id="postcard"  class="row comment-box-main p-3 rounded-bottom border border-warning ">
										<div id="postcard" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 comment-box">
											<textarea class="text-warning border border-warning bg-light" name="" id="codearea" cols="30" rows="6" placeholder="add to discussion"></textarea>
											<button type="button" class="btn btn-outline-warning float-right  mt-3">Add comment</button>
										</div>
									</div>
								</div>
							</dt>
							<dd>
								<div id="postcard" class=" col-sm-12 col-md-6 col-lg-10 col-xl-10 comment rounded pt-2 pb-2 mt-3 border border-warning">
									<h4 class="m-0"><a href="#">Jacks David</a></h4>
									<time class="text-warning ml-5">1 hours ago</time>
									<like></like>
									<p class="mb-0 text-warning mt-3">Awesome code, thanks for posting.</p>
								</div>
							</dd>
						</dl>
					</div>
				</div>


			</div>
		</div>
	</div>

	</main>
</body>
</html>