<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../public/scripts/post.js"></script>
    <!-- fonts----- -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8b12321ea8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- -------CSS---------->
    <link rel="stylesheet" href="../public/styles/post.css">
    
    <title>Post</title>
<body>		
	<main class="container"> <!--This is main container-->


		<div class="container bg-light border-left border-right border-top border-warning mt-3">
			<div class="row">
		
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-5 pb-md-3 mt-sm-3"> 
					<div class="card " style="">
						<div class="card-body border border-warning shadow rounded bg-dark">
							<h3 class="card-title text-warning mb-4 ">Kesha Griffin</h3>
							<h4 class="card-subtitle mb-2 text-warning">languages: #react, #Javascript, #ruby</h4>
							<h4 class="card-subtitle mb-2 text-warning">location: San Francisco</h4>
							<h4 class="card-subtitle mb-2 text-warning">github: ngriffin23 </h4>
							<h4 class="card-subtitle mb-2 text-warning">work: GA</h4>
							<button type="button" class="btn btn-outline-warning float-right  mt-3">Follow +</button>
						</div>
					</div>
				</div>

				<div class="container col-sm-12 col-md-6 col-lg-3 col-xl-7 pb-md-3 mt-sm-3">
					<div id="title" class="pb-md-3 mt-sm-3"> 
						<button type="button" class="btn btn-outline-warning float-right  mt-3">Delete </button>
						<button type="button" class="btn btn-outline-warning float-right  mt-3">Edit</button>
						<h1 class="display-6 text-center text-warning">For Loops</h1>
						<h6 id="author" class="lead text-center text-dark">By Kesha Griffin.</h6>
						<p>	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil obcaecati provident veniam! Iusto totam tempora atque velit nam itaque eum minima doloribus neque voluptate delectus quas, error beatae sit fugit recusandae corporis earum aperiam? Labore cum voluptatum itaque optio ex numquam vel, temporibus similique corporis harum 		sequi pariatu
						</p>
					</div>
				</div>
			</div>	
		</div>	
		
		<div class="container bg-light border-left border-right border-warning">
			<div class="row">

				<div id="box" class="col-sm-12 col-md-6 col-lg-3 col-xl-11 ml-5 pb-md-3 mt-sm-3">
					<h1 class="card-title text-warning mb-2">Code</h1>
					<textarea class="text-warning border border-warning" name="" id="codearea" cols="30" rows="10" placeholder=""></textarea>
				</div>
			</div>
		</div>

		<div class="container bg-light border-left border-right border-warning">
			<div class="row">

				<div class="container">
					<div class="col-sm-12 col-md-6 col-lg-3 col-xl-12">

						<div id="commentBox" class="container ">
							<div class="row comment-box-main p-3 rounded-bottom bg-secondary border border-warning ">
								<div class="col-sm-12 col-md-6 col-lg-3 col-xl-12 pr-0 comment-box bg-secondary">
									<textarea class="text-warning border border-warning bg-light" name="" id="codearea" cols="30" rows="6" placeholder="add to discussion"></textarea>
									<button type="button" class="btn btn-outline-warning float-right  mt-3">Add comment</button>
								</div>
							</div>
						</div>
						

						<div class="container">
							<ul class="p-0">
								<li>
									<div class="row comments mb-2">
										<div class="col-md-2 col-sm-2 col-3 text-center">

										</div>
									<div class="bg-light col-sm-12 col-md-6 col-lg-3 col-xl-10 comment rounded mt-3">
										<h4 class="m-0"><a href="#">Jacks David</a></h4>
										<time class="text-warning ml-3">1 hours ago</time>
										<like></like>
										<p class="mb-0 text-warning">Thank you for visiting all the way from New York.</p>
									</div>
									</div>
								</li>
							</ul>
						</div>		
						
						

					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>